* {
    min-width: 0;
    min-height: 0;
}
body {
    padding: 0;
    margin: 0;
    background: #F5F5F5;;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 22px;
    font-family: 'Poppins';
}
body a{
    text-decoration: none;
}
.top-nav {
    height: 65px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url(top-header.png);
}
.top-nav .container {
    position: relative;
}

.container {
    width: 1200px;
    margin: auto;
}
.top-nav nav {
    width: calc(100% - 150px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: end;
    height: 65px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-x: unset;
}
.top-nav nav a {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    padding: 18px 0 14px 0;
    margin-right: 49px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
}
.top-nav nav a.active, .top-nav nav a:hover {
    position: relative;
    background: radial-gradient(94.35% 629.69% at 3.23% 50%, #F7AAF5 0%, #D869E6 24.53%, #C655DB 53.14%, #D565E5 78.31%, #F9B7F6 100%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.top-nav nav a.active::before, .top-nav nav a:hover::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #c655db;
}
.top-nav nav a.active {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background: radial-gradient(94.35% 629.69% at 3.23% 50%, #F7AAF5 0%, #D869E6 24.53%, #C655DB 53.14%, #D565E5 78.31%, #F9B7F6 100%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.top-nav .log-in {
    position: absolute;
    width: 73px;
    height: 21px;
    top: 22px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    right: 90px;
}
.top-nav .log-in a{
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.tam-cot{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.world-cup{
    display: inline-grid;
    background: #FFFFFF;
    border-radius: 8px;
    width: 128px;
    height: 83px;
    border: 1px solid #FFFFFF;
}
.world-cup:hover{
    border: 1px solid #8F35C1;
}
.world-cup span{
    background: #000000;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0 0 8px 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FCFCFC;
    padding: 4px;
}
.world-cup:hover span{
    background: conic-gradient(from 180deg at 51.17% 120.37%, #883CBB -100.08deg, #8A3DBB 99.31deg, #130847 179.43deg, #883CBB 259.92deg, #8A3DBB 459.31deg);
}
.wc-img{
    display: flex;
    justify-content: center;
    padding: 9px 0 16px 0;
}
.wc-img img{
    height: 40px;
}
.body-2{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.body-2-tim{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    padding-right: 19px;
    text-align: center;
    background: radial-gradient(63.04% 63.04% at 50% 36.96%, #140848 0%, #5E2991 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.body-2-den{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-right: 19px;
}
.body-2-den:hover{
    text-align: center;
    color: #000000;
    padding-bottom: 6px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    margin-right: 19px;
    text-align: center;
    background: radial-gradient(63.04% 63.04% at 50% 36.96%, #140848 0%, #5E2991 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid #2F1071;
}
.prev{
    border-radius: 100%;
    border: 1px solid #2F1071;
    color: #2F1071;
    display: flex;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
}
.next{
    border-radius: 100%;
    border: 1px solid #2F1071;
    color: #2F1071;
    display: flex;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
}
.slide{
    display: flex;
    justify-content: space-evenly;
}
.mt-19{
    margin-top: 19px;
}
.nam-slide{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    width: 187px;
    margin: 12.5px;
}
.nam-slide-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hai-img-slide{
    display: flex;
    align-items: center;
}
.hai-span-slide{
    display: grid;
}
.span1-slide{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #878686;
}
.span2-slide{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #000000;
}
.span3-slide{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #878686;
    display: flex;
    align-items: center;
}
.span4-slide{
    background: #1FC139;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    width: 48px;
    -webkit-animation: xanh 700ms infinite;
    -moz-animation: xanh 700ms infinite;
    -o-animation: xanh 700ms infinite;
    animation: xanh 700ms infinite;
}
/*  */
@-webkit-keyframes xanh {
    0% { background: #1FC139; }
    50% { background: #fff; }
    100% { background: #1FC139; }
    }
    @-moz-keyframes xanh {
    0% { background: #1FC139; }
    50% { background: #fff; }
    100% { background: #1FC139; }
    }
    @-o-keyframes xanh {
    0% { background: #1FC139; }
    50% { background: #fff; }
    100% { background: #1FC139; }
    }
    @keyframes xanh {
    0% { background: #1FC139; }
    50% { background: #fff; }
    100% { background: #1FC139; }
  }
/*  */
.span4-slide-1{
    background: #1FC139;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    width: 48px;
    padding: 2px 10px;
    -webkit-animation: xanh 700ms infinite;
    -moz-animation: xanh 700ms infinite;
    -o-animation: xanh 700ms infinite;
    animation: xanh 700ms infinite;
}
.nam-slide-2{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.mt-12{
    margin-top: 12px;
}
.nam-slide-1 a{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #2F1071;
    display: flex;
    justify-content: center;
    width: 140px;
    border: 1px solid #2F1071;
    border-radius: 5px;
}
.hai-img-slide img{
    padding-right: 7px;
}
.trai-phai{
    display: flex;
    align-items: center;
}
.bg-between{
    background: url(bg-between.png);
    position: relative;
    width: auto;
    height: 233px;
    margin-bottom: 36px;
}
.bg-between-text1{
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    text-align: center;
}
.bg-between-text2{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
}
.bg-between-1{
    display: flex;
    justify-content: center;
}
.bg-between-a{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 4px;
    background: #D02D2D;
    border-radius: 6px;
    width: 196px;
    text-align: center;
}
.ruger{
    position: absolute;
    left: 6.13%;
    right: 66.19%;
    top: 4.72%;
    bottom: -30.9%;
}
.salah{
    position: absolute;
    left: 14.41%;
    right: 56.03%;
    top: 0;
    bottom: -24.46%;
}
.kane{
    position: absolute;
    left: 49.97%;
    right: 10.85%;
    top: 0;
    bottom: -10.73%;
}
.foden{
    position: absolute;
    left: 71.13%;
    right: 12.19%;
    top: 21px;
    bottom: -30.9%;
}
.bg-between-text1{
    padding-top: 70px;
    margin: 0;
}
.bg-between-text2{
    margin: 0;
}
.bg-between-a{
    margin-top: 16px;
}
.weekend{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 8px;
}
.weekend-live{
    background: conic-gradient(from 180deg at 51.17% 120.37%, #D273E4 -115.54deg, #CB6DE1 113.59deg, #230D61 179.43deg, #D273E4 244.46deg, #CB6DE1 473.59deg);
    border-radius: 5px;
    padding: 8px 12px;
}
.weekend-live a{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.thu-2{
    display: grid;
    margin: 0 12px;
    background: #FFFFFF;
    border-radius: 17px;
    width: 84px;
    border: 1px solid #FFFFFF;
}
.thu-2:hover{
    border: 1px solid #2F1071;
    border-radius: 17px;
}
.thu-2:hover .span-thu-2 {
    color: #2F1071; 
}
.thu-2:hover .span-thu-3 {
    color: #2F1071; 
}

.span-thu-2{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.span-thu-3{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.schedule{
    margin-bottom: 6px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-left{
    width: 890px;
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #2F1071;
    border-radius: 5px;
    font-size: 14px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 4px;
  }
.content-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-content-3{
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 30px;
    padding: 12px 10px;
}
.content-3{
    background: #FFFFFF;
}
.ket-qua{
    display: grid;
    grid-template-columns: 1.5fr 1fr 2.5fr 1fr 2.5fr 2fr;
    background: #FFFFFF;
    margin: 1px;
    border-bottom: 2px solid #2F1071;
    padding: 12px 5px;
}
.thoi-gian-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tgian-1-span{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #181818;
}
.span-thoi-gian{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #181818;
}
.ht{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ht span{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.doi-trai{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}
.doi-trai img{
    width: 33px;
    height: 33px;
}
.doi-phai img{
    width: 33px;
    height: 33px;
}
.doi-trai span{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;  
    color: #000000;
    padding-right: 15px;
}
.doi-phai span{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: inherit;  
    color: #000000;
}
.doi-phai{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}
.doi-phai span{
    margin-left: 15px;
}
.ty-so{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ty-so a{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}
.z-index{
    position: inherit;
    z-index: 10;
}
.mr-8{
    margin-right: 8px;
}
.border-none{
    border: none;
}
.two-col{
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}
.col-left-1{
    width: 890px;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2F1071;
    border-bottom: 1px solid #2F1071;
}
.col-right-1{
    width: 288px;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #2F1071;
    display: flex;
    justify-content: end;
    align-items: center;
}
.three-col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-top: 21px;
}
.three-col-1{
    background: conic-gradient(from 180deg at 51.17% 120.37%, #883CBB -100.08deg, #8A3DBB 99.31deg, #130847 179.43deg, #883CBB 259.92deg, #8A3DBB 459.31deg);
    border-radius: 0px 0px 9px 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px 8px 12px;
}
.three-col-1-text span{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
.three-col-1-text p{
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #E6E6E6;
}
.three-col-3{
    background: conic-gradient(from 180deg at 51.17% 120.37%, #883CBB -100.08deg, #8A3DBB 99.31deg, #130847 179.43deg, #883CBB 259.92deg, #8A3DBB 459.31deg);
    border-radius: 0px 0px 9px 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px 8px 12px;
    position: relative;
}
.three-col-img{
    width: 176px;
    height: 174px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.three-col-next{
    width: 64px;
    height: 191px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 9px 0px;
}
.three-col-next-1{
    width: 70px;
    height: 542px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}
.two-col-video{
   display: flex;
   justify-content: space-between;
   margin-top: 24px;
}
.two-col-video-1{
    position: relative;
    width: 791.82px;
    height: 542.74px;
    background: conic-gradient(from 180deg at 51.17% 120.37%, #883CBB -100.08deg, #8A3DBB 99.31deg, #130847 179.43deg, #883CBB 259.92deg, #8A3DBB 459.31deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.two-col-video-1 span{
    position: absolute;
    left: 23.26px;
    top: 458.45px;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}
.two-col-video-2 span{
    position: absolute;
    left: 23.26px;
    top: 458.45px;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}
.two-col-video-1 .top-a{
    position: absolute;
    top: 23px;
    left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5px 8px;
    gap: 10px;
    width: 77px;
    height: 27px;
    background: #000000;
    border-radius: 16px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.two-col-video-2 .top-a{
    position: absolute;
    top: 23px;
    left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5px 8px;
    gap: 10px;
    width: 77px;
    height: 27px;
    background: #000000;
    border-radius: 16px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.two-col-video-2{
    position: relative;
    width: 387.67px;
    height: 542.74px;
    background: conic-gradient(from 180deg at 51.17% 120.37%, #883CBB -100.08deg, #8A3DBB 99.31deg, #130847 179.43deg, #883CBB 259.92deg, #8A3DBB 459.31deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-more{
    margin-top: 39px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.view-more a{
    background: conic-gradient(from 180deg at 51.17% 120.37%, #883CBB -100.08deg, #8A3DBB 99.31deg, #130847 179.43deg, #883CBB 259.92deg, #8A3DBB 459.31deg);
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
}
.view-more-4{
    margin-top: 63px;
    display: flex;
    justify-content: center;
    margin-bottom: 97px;
}
.view-more-4 a{
    background: conic-gradient(from 180deg at 51.17% 120.37%, #883CBB -100.08deg, #8A3DBB 99.31deg, #130847 179.43deg, #883CBB 259.92deg, #8A3DBB 459.31deg);
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
}
.border-end{
    background: #8344C6;
    height: 1px;
    margin-bottom: 31px;
}
.img-end-1{
    height: 80px;
    width: 80px;
    background: #FFFFFF;
    border-radius: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-end-1 img{
    height: 58px;
    width: 58px;
}
.img-end{
    display: flex;
    justify-content: space-evenly;
    margin: 0 80px;
    margin-bottom: 72px;
}
.footer{
    text-align: center;
}
.footer span{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.m-20{
    margin: 20px 0;
}
.head-right{
    background-image: url(Rectangle\ 723.png);
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
}
#tam-giac-bottom{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #FFFFFF;
}
.col-right{
    width: 288px;
}
#span-1{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
#span-2{
    padding-right: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.head-right-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.BXH{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    padding: 6px 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    background: #FFFFFF;
    border-bottom: 1px solid #E1E0E0;
}
.BXH span{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #A7A6A6;
}
.BXH-poin-text{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    padding: 6px 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    background: #FFFFFF;
    border-bottom: 1px solid #E1E0E0;
}
.BXH-poin-text span{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.BXH-pos{
    text-decoration-line: underline;
}
.BXH-club{
    display: flex;
    justify-content: center;
}
.cham-xam{
    height: 4px;
    width: 4px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    background: gray;
}
#BXH-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#BXH-2{
    display: flex;
    align-items: center;
}
#BXH-2 img{
    padding: 0 16px;
    height: 21px;
    width: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.all-table{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: end;
    text-decoration-line: underline;
    color: #2F1071;
    padding: 15px 16px;
    background: #FFFFFF;
    border-radius: 0 0 10px 10px;
}
.tam-giac-ngang{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #37DE7A;
}
.end-right{
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 15px;
}
#end-right-1{
    display: flex;
    padding: 8px 17px 25px 19px;
    justify-content: space-between;
}
#end-right-1 span{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2F1071;
}
#end-right-1 a{
    display: flex;
    align-items: center;
}
#end-right-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 19px 16px 34px;
}
#end-right-3{
    display: flex;
    align-items: center;
}
#end-right-4{
    display: flex;
    align-items: center;
}
#end-right-4 img{
    height: 24px;
    width: 24px;
    padding-right: 13px;
}
#end-right-5 {
   display: grid;
}
#span-right-1{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #232323;
}
#span-right-2{
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    color: #878686;
}
.ti-so-match{
    background-image: url(bg-match.png);
    height: 347px;
    margin-top: 4px;
}
.match-1{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding-top: 94px;
}
.match-2{
    display: flex;
    align-items: center;
    justify-content: end;
}
.match-2-1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.match-2-1 span{
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: right;
    color: #FFFFFF;
}
.match-2 span{
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: right;
    color: #FFFFFF;
}
.match-2 img{
    height: 117px;
    width: 117px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pr-16{
    padding-right: 16px;
}
.match-3{
    display: grid;
    align-items: center;
    text-align: center;
}
.span-match-3{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.span-match-311{
    display: flex;
    justify-content: center;
    padding: 24px 0 17px 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}
.span-match-32{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: start;
    color: #A0A0A0;
}
.match-thanh-ngang{
    display: flex;
    justify-content: center;
}
.thanh-ngang{
    width: 257px;
    height: 3px;
    background: #D9D9D9;
}
.span-match-31{
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}
.match-4{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 44px 0;
}
.match-4 span{
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;   
    text-align: center;
    color: #FFFFFF;
}
.match-5{
    display: flex;
    justify-content: center;
}
.border-match{
    display: flex;
    justify-content: center;
    width: 1452px;
    height: 5px;
    background: linear-gradient(90deg, #FB2A88 21.37%, #9E3AF4 82.59%);
}
.team-info{
    padding: 41px 41px 7px 41px;
    background: #FFFFFF;
    border-radius: 10px;
}
.info-1{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.info-2{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 17px;
}
.info-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #2F1071;
    margin-top: 14px;
}
.info-3-1, .info-3-2{
    display: flex;
    align-items: center;
}
.info-3-1 img{
    height: 53px;
    width: 53px;
    margin-right: 4px;
}
.info-3-2 img{
    height: 53px;
    width: 53px;
    margin-left: 4px;
}
.info-3-1, .info-3-2 span{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.info-4{
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
}
.info-4-1,.info-4-2{
    display: flex;
    text-align: center;
    align-items: center;
}
.info-4-1 span{
    margin-right: 8px;
}
.info-4-2 span{
    margin-left: 8px;
}
.info-l{
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    background: #DE3737;
    border-radius: 100%;
    padding: 2px 3px;
    height: 22px;
    width: 22px;
}
.info-d{
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    background: #A7A6A6;
    border-radius: 100%;
    padding: 2px 3px;
    height: 22px;
    width: 22px;
}
.info-w{
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    background: #37DE7A;
    border-radius: 100%;
    padding: 2px 3px;
    height: 22px;
    width: 22px;
}
.info-5{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-top: 36px;
}
.info-6{
    margin-top: 7px;
    height: auto;
    width: auto;
}
.info-7{
    margin-top: 13px;
}
.info-7 span{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.border-ngang{
    width: 189px;
    height: 2px;
    background: #2F1071;
    margin-top: 11px;
}
.info-8{
    display: grid;
    margin-top: 4px;
}
.info-8-1{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.info-8-2{
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #545454;
}
.other-match{
    background: #FFFFFF;
    padding: 5px 7px 0;
    border-radius: 10px;
    margin-top: 17px;
}
.head-other{
    margin: 5px 32px 7px 0px;
    border-bottom: 2px solid #2F1071;
    background: #FFFFFF;
    padding-left: 5px;
}
.head-other span{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #2F1071;
}
.mt-26{
    margin-top: 26px;
}
.button-match{
    margin: 12px 0;
}
.button-match a{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #1A202C;
    padding: 6px 14px;
    border: 1px solid #000000;
    border-radius: 10px;
}
.button-match a:hover{
    background: conic-gradient(from 180deg at 51.17% 120.37%, #883CBB -100.08deg, #8A3DBB 99.31deg, #130847 179.43deg, #883CBB 259.92deg, #8A3DBB 459.31deg);
    color: #FFFFFF;
    border:none;
}
.head-pricing{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    margin-top: 67px;
}
.pricing-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
.pricing-1>div{
    border: 1px solid #000000;
    border-radius: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding: 0px 8px;
    margin-right: 8px;
}
.pricing-1 span{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.pricing-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 63px;
}
.pricing-2 span:hover{
    background: #2F1071;
    box-shadow: 0px 5px 7px rgba(82, 67, 194, 0.230196);
    border-radius: 22px;
    color: #FFFFFF;
}
.pricing-2 span{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.833333px;
    color: #2F1071;
    padding: 13px 24px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 22px;
}
.pricing-hl{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 9px 0 19px 0;
}
.pricing-hl span:hover{
    background: #2F1071;
    box-shadow: 0px 5px 7px rgba(82, 67, 194, 0.230196);
    border-radius: 22px;
    color: #FFFFFF;
}
.pricing-hl span{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.833333px;
    color: #2F1071;
    padding: 13px 24px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 22px;
}
.pay{
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    margin: 40px 208px;
    /* background: #FFFFFF; */
    /* backdrop-filter: blur(17.5px); */
    border-radius: 26px;
    grid-column-gap: 16px;
}
.pay-1{
    display: block;
    width: 240px;
    /* margin: 35px 60px; */
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(17.5px);
    border-radius: 26px;
    padding: 108px 16px;
    justify-content: center;
    margin-top: 30px;
}
.pay-1-1{
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #231D4F;
}
.pay-1-2{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #848199;
    margin-top: 6px;
}
.pay-1-3{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #848199;
    margin-top: 14px;
}
.pay-1-3-1{
    display: flex;
    align-items: center;
}
.pay-1-3-1 img{
    margin-right: 14px;
}
.pay-2{
    width: 240px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(17.5px);
    border-radius: 26px;
    padding: 16px;
}
.pay-2:hover{
    background: #2F1071;
    box-shadow: 0px 42px 34px rgba(47, 16, 113, 0.295755);
    border-radius: 26px;
}
.pay-2:hover span{
    color: #FFFFFF;
}
.pay-2:hover .save-50{
    color: #50C880;
}
.pay-2:hover .pay-chose-a{
    background: #000000;
    border-radius: 24px;
    color: #FFFFFF;
    opacity: unset;
}
.pay-2:hover .most-popular span{
    font-weight: 800;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.833333px;
    color: #FFFFFF;
    padding: 7px 16px;
    background: #000000;
    border-radius: 13.5px;
    opacity: unset;
}
.pay-1:hover{
    background: #2F1071;
    box-shadow: 0px 42px 34px rgba(47, 16, 113, 0.295755);
    border-radius: 26px;
}
.pay-1:hover span{
    color: #FFFFFF;
}
.pay-3:hover{
    background: #2F1071;
    box-shadow: 0px 42px 34px rgba(47, 16, 113, 0.295755);
    border-radius: 26px;
}
.pay-3:hover span{
    color: #FFFFFF;
}
.pay-3:hover .pay-chose-a{
    background: #000000;
    border-radius: 24px;
    color: #FFFFFF;
    opacity: unset;
}
.pay-3{
    width: 240px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(17.5px);
    border-radius: 26px;
    padding: 16px;
    margin-top: 30px;
}
.pay-2-1{
    margin-top: 30px;
}
.pay-3-1{
    margin-top: 30px;
}
.pay-3-1-1{
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #231D4F;
}
.pay-3-1-2{
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #848199;
}
.pay-3-2{
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #231D4F;
    margin-top: 14px;
}
.pay-3-2-2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #231D4F;
    margin-top: 14px;
    display: grid;
    margin-bottom: 42px;
}
.pay-3-2-2-1{
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #231D4F;
}
.pay-3-2 span{
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #231D4F;
    margin-top: 14px;
}
.save-50{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #50C880;
}
.pay-chose{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
}
.pay-chose a{
    padding: 11px 68px;
    background: #2F1071;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 24px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.most-popular{
    display: flex;
    justify-content: end;
    width: 228px;
}
.most-popular span{
    font-weight: 800;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.833333px;
    color: #FFFFFF;
    padding: 7px 16px;
    border-radius: 13.5px;
    background: #2F1071;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.pricing-3{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}
.pricing-4{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
}
.pricing-5{
   display: flex;
   justify-content: center;
   margin-top: 32px;
}
.pricing-5-1{
    display: flex;
    align-items: center;
    padding: 31px 74px 31px 24px;
    background: #1E293B;
    border: 1px solid #475569;
    border-radius: 8px;
    margin-right: 24px;
}
.pricing-5-1-1{
    width: 20px;
    height: 20px;
    border: 1px solid #64748B;
    border-radius: 100px;
    margin-right: 16px;
}
.pricing-5-2{
    display: flex;
    align-items: center;
    padding: 31px 136px 31px 16px;
    background: rgba(249, 30, 78, 0.1);
    border: 1px solid #F91E4E;
    border-radius: 8px;
}
.pricing-5-2-1{
    border: 1px solid #F91E4E;
    border-radius: 100px;
    margin-right: 16px;
}
.pricing-5-2-2{
    width: 10px;
    height: 10px;
    left: 972px;
    top: 1200px;
    background: #F91E4E;
    border-radius: 100px;
    margin: 4px;
}
.pricing-6{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing-7{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.pricing-7 a{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 218px;
    background: #F91E4E;
    border-radius: 8px;
}
.pricing-6 img{
    padding: 12px 247px;
    background: #FFB700;
    border-radius: 8px;
    margin-top: 32px;
}
.pricing-8{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin-top: 32px;
}
.pricing-8 a{
   color:  #F91E4E;
}
.pricing-9{
    display: grid;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    margin-top: 127px;
}
.pricing-9-1{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.pricing-10{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pricing-10 a{
    width: 102px;
    height: 102px;
    /* left: 339px; */
    /* top: 1662px; */
    background: #FFFFFF;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pt-18{
    padding-top: 18px;
}
.pt-21{
    padding-top: 21px;
}
.pricing-11{
    display: flex;
    justify-content: center;
    margin: 16px 0 58px 0;
}
.pricing-11 a{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #F91E4E;
}
.nam-slide-1 a:hover{
    background: conic-gradient(from 180deg at 51.17% 120.37%, #883CBB -100.08deg, #8A3DBB 99.31deg, #130847 179.43deg, #883CBB 259.92deg, #8A3DBB 459.31deg);
    border-radius: 5px;
    color: #FFFFFF;
}
.col-right-2{
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 18px;
}
.col-right-2-1{
    display: grid;
    margin: 0 8px;
}
.col-right-2-1 img{
   width: 100%;
}
.col-right-2-1 span{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #A52457;
    margin-bottom: 4px;
}
.col-right-2-1 a{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1A202C;
    margin-bottom: 4px;
}
.col-right-2-1 a:hover{
    color: #2F1071;
}
.col-right-2-1 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #718096;
    margin: 4px 0 26px 0;
}
.news-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #FFFFFF;
    border-radius: 0px 4px 4px 0px;
    align-items: center;
}
.news-content img{
    width: 100%;
}
#soccer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#soccer a{
    background: #EF3340;
    border-radius: 4px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    padding: 4px;
}
.news-content-2{
    display: grid;
    margin: 20px;
    height: fit-content;
}
.news-content-3{
    display: grid;
    margin: 0 16px 0 8px;
    height: fit-content;
}
.news-content-3 a{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
#text-4-col-news{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 8px 0 53px 0;
}
#text-4-col-news a:hover{
    color: #2F1071;
}
#news-a-content:hover{
    color: #2F1071;
}
#news-a-content{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin-top: 8px;
}
#time-news{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #2F1071;
    margin-top: 8px;
}
#text-news{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: justify;
    color: #000000;
    margin-top: 8px;
}
.view-more-2 {
    margin-top: 136px;
    display: flex;
    justify-content: flex-start;
}
.view-more-2 a{
    background: conic-gradient(from 180deg at 51.17% 120.37%, #883CBB -100.08deg, #8A3DBB 99.31deg, #130847 179.43deg, #883CBB 259.92deg, #8A3DBB 459.31deg);
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
}
.mt-43{
    margin-top: 43px;
}
#last-news{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.mt-23{
    margin-top: 23px;
}
.mt-16{
    margin-top: 16px;
}
.grid-4-col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.last-new-4-col{
    background: #FFFFFF;
    border-radius: 4px;
}
.last-new-4-col img{
    width: 100%;
    border-radius: 4px 4px 0 0;
}
.side-bar-live-tv{
    margin: 42px 0 12px 0;
}
.side-bar-live-tv span{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #2F1071;
}
.mb-50{
    margin-bottom: 50px;
}
.video-match-1{
    margin: 53px 0 40px 0;
}
.img-8-col{
    width: 108px;
    height: 108px;
    background: rgba(47, 16, 113, 0.1);
    border: 1px solid rgba(47, 16, 113, 0.1);
    border-radius: 8px;
}
.img-8-col:hover{
    border: 1px solid #2F1071;
}
.img-8-col img{
    width: 96px;
    padding: 6px;
    height: 96px;
}
.grid-img-8-col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}
