.mobile-nav {
    position: fixed;
    overflow-y: auto;
    top: 56px;
    left: 0;
    width: calc(100vw - 32px);
    height: calc(100vh - 34px);
    padding: 16px;
    border-top: 2px solid #F70D28;
    background: linear-gradient(179.08deg, rgba(22, 23, 27, 0.95) 83.09%, #EF4123 123.38%);
    z-index: 221;
  }
  .mobile-nav nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 10px 0 30px;
    padding: 0 30px;
  }
  .mobile-nav nav a {
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    text-align: center;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-decoration: none;
    padding: 8px 0;
    margin: 5px 0;
  }
  .mobile-nav nav a.active {
    background: #F70D28;
    border-radius: 40px;
  }
  .mobile-nav .social-list {
    margin-bottom: 30px;
  }
  .mobile-nav .social-list a {
    margin: 0 6px;
  }
  .mobile-nav .social-list a svg path {
    fill: white;
    fill-opacity: 1;
  }
  .mobile-nav .search-mo {
    position: relative;
    margin-bottom: 30px;
  }
  .mobile-nav .search-mo svg {
    position: absolute;
    top: 2px;
    left: 5px;
  }
  .mobile-nav .search-mo input {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    padding-left: 50px;
    border-radius: 40px;
    background: #2D303F;
    border: none;
  }
  .mobile-nav .fs-14.text-center {
    margin-bottom: 100px;
  }
  #clo {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
.container-1{
    display: none;
}
@media screen and (max-width: 900px) {
    .top-nav{
        background: #FFFFFF;
    }
    .container-1{
        display: block;
    }
    .col-right{
        display: none;
    }
    .col-left{
        width: 100%;
    }
    .top-header-1 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #ffffff;
        z-index: 222;
        height: 65px;
      }
      .top-header-1 .social-list {
        display: none;
      }
      .top-header-1 .logo {
        left: -3px;
        -webkit-transform: translateX(-16px);
                transform: translateX(-16px);
      }
      .top-header-1 .humbeee {
        display: block;
        position: absolute;
        top: 8px;
        right: 5px;
        display: flex;
        align-items: center;
      }
      .top-header-1 .humbeee svg{
        margin: 0 8px;
      }
      .top-header-1 .humbeee-1 {
        display: block;
        position: absolute;
        top: 24px;
        left: 16px;
      }

      .mobile-nav {
        position: fixed;
        overflow-y: auto;
        top: 56px;
        left: 0;
        width: calc(100vw - 32px);
        height: calc(100vh - 34px);
        padding: 16px;
        border-top: 2px solid #F70D28;
        background: linear-gradient(179.08deg, rgba(22, 23, 27, 0.95) 83.09%, #2F1071 123.38%);
        z-index: 221;
      }
      .mobile-nav nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin: 10px 0 30px;
        padding: 0 30px;
      }
      .mobile-nav nav a {
        display: inline-block;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
        text-align: center;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        text-decoration: none;
        padding: 8px 0;
        margin: 5px 0;
      }
      .mobile-nav nav a.active {
        background: radial-gradient(94.35% 629.69% at 3.23% 50%, #F7AAF5 0%, #D869E6 24.53%, #C655DB 53.14%, #D565E5 78.31%, #F9B7F6 100%), #FFFFFF;
        border-radius: 40px;
      }
      .mobile-nav .social-list {
        margin-bottom: 30px;
      }
      .mobile-nav .social-list a {
        margin: 0 6px;
      }
      .mobile-nav .social-list a svg path {
        fill: white;
        fill-opacity: 1;
      }
      .mobile-nav .search-mo {
        position: relative;
        margin-bottom: 30px;
      }
      .mobile-nav .search-mo svg {
        position: absolute;
        top: 2px;
        left: 5px;
      }
      .mobile-nav .search-mo input {
        width: 100%;
        height: 40px;
        padding: 0 20px;
        padding-left: 50px;
        border-radius: 40px;
        background: #2D303F;
        border: none;
      }
      .mobile-nav .fs-14.text-center {
        margin-bottom: 100px;
      }
      #clo {
        display: none;
      }
      /* .pricing-hl{
        display: none;
      } */
      .top-nav nav{
        display: none;
      }
      .top-nav .log-in{
        display: none;
      }
      .top-nav .container {
        position: relative;
    }
    .container {
        width: 100%;
        margin: auto;
    }
    .video-match{
        display: none;
    }
    .ti-so-match {
        background-image: url(bg-soli.png);
        height: 275px;
        margin-top: 4px;
        background-color: #300233;
        background-position: center;
        background-repeat: no-repeat;
    }
    .match-1 {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding-top: 26px;
    }
    .match-2 {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .d-none{
        display: none;
    }
    .match-2 img {
        height: 85px;
        width: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .span-match-3 {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
    .thanh-ngang {
        width: 70%;
        height: 3px;
        background: #D9D9D9;
    }
    .span-match-31 {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }
    .match-2-1 img{
        width: 85px;
        height: 85px;
    }
    .match-4 {
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 61px 0;
    }
    .match-4 span {
        text-align: center;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
    }
    .border-match {
        display: flex;
        justify-content: center;
        width: 80%;
        height: 5px;
        background: linear-gradient(90deg, #FB2A88 21.37%, #9E3AF4 82.59%);
    }
    .img-end {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* margin: 0 80px; */
        margin-bottom: 30px;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
    .team-info {
        padding: 16px;
    }
    .mobile-nav .social-list {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }
    .mobile-nav .fs-14.text-center {
        text-align: center;
    }
    .tam-cot {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-top: 35px;
      grid-column-gap: 8px;
      grid-row-gap: 8px;
    }
    .world-cup {
      display: inline-grid;
      background: #FFFFFF;
      border-radius: 8px;
      width: auto;
      height: auto;
      border: 1px solid #FFFFFF;
    }
    .scroll-y {
      height: 512px;
    }
    
    .scroll-x, .scroll-y {
        scrollbar-width: thin!important;
        max-height: 500px;
    }
    .scroll-y {
        height: 365px;
        overflow-y: auto;
        width: 100%;
        position: relative;
    }
    .scroll-x {
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
        padding-bottom: 8px;
    }
    #text-4-col-news{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 14px;
      }
    .grid-4-col {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 8px;
      grid-row-gap: 8px;
    }
    .news-content {
      display: block;
      background: #FFFFFF;
      border-radius: 0px 4px 4px 0px;
      align-items: center;
    }
    #text-4-col-news {
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      color: #000000;
      margin: 8px 0 8px 0;
    }
    .sidebar-news{
      margin: 16px;
    }
    .news-content{
      padding: 16px;
    }
    .match-2-1 span{
      display: none;
    }
    .match-2 span{
      display: none;
    }
    .two-col-video-1 span {
      position: absolute;
      left: 23.26px;
      top: 458.45px;
      font-weight: 700;
      font-size: 18px;
      line-height: 64px;
      color: #FFFFFF;
    }
    .two-col-video-2 span {
      position: absolute;
      left: 23.26px;
      top: 458.45px;
      font-weight: 700;
      font-size: 18px;
      line-height: 64px;
      color: #FFFFFF;
    }
    .three-col-img {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .three-col-1-text span {
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      color: #FFFFFF;
    }
    .three-col-1 {
      padding: 0 6px;
    }
    .three-col-1-text p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 14px;
    }
    .trai-phai{
      display: none;
    }
    .nam-slide{
      width: 100%;
      margin: 0;
    } 
    /* .nam-slide-1{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 8px;
      grid-row-gap: 8px;
    }
    .nam-slide{
      width: 100%;
      margin: 0;
    } */
    .bg-between {
      background: url(bg-between.png);
      position: relative;
      width: auto;
      height: 300px;
      margin-bottom: 36px;
    }
    .ruger{
      display: none;
    }
    .salah{
      display: none;
    }
    .foden{
      display: none;
    }
    .kane{
      display: none;
    }
    .pay {
      display: block;
      border-radius: 26px;
      margin: 0;
    }
    .pay-1 {
      width: auto;
      padding: 108px 16px;
    }
    .pay-2 {
      width: auto;
      padding: 16px;
      margin-top: 16px;
    }
    .pay-3 {
      width: auto;
      padding: 16px;
      margin-top: 16px;
    }
    .pricing-5-1 {
      display: flex;
      padding: 30px 12px 30px 12px;
      margin-right: 12px;
    }
    .pricing-5-2 {
      padding: 30px 8px 30px 8px;
    }
    
    .pricing-6 img {
      padding: 12px 24px;
      margin-top: 32px;
    }
    .pricing-7 a {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      padding: 12px 100px;
    }
    .pricing-10 {
      flex-wrap: wrap;
    }
    .thoi-gian{
      grid-column: 1 / 4;
      grid-row: 1;
      display: flex;
      justify-content: space-between;
    }
    .thoi-gian-1{
     justify-content: flex-start;
    }
    .doi-trai {
      display: grid;
      grid-template-columns: 4fr 1fr;
      align-items: center;
      grid-column: 1;
      grid-row: 4;
    }
    .ty-so{
      grid-column: 2;
      grid-row: 4;
    }
    .doi-phai{
      grid-column: 3;
      grid-row: 4;
    }
    .ket-qua {
      grid-template-columns: auto;
    }
    .content-3 .nam-slide-1{
      display: none;
    }
    .ht{
      display: none;
    }
    .nam-slide {
      width: 100%;
      margin: 0;
      height: auto;
      min-width: 230px;
      margin: 16px 8px;
    }
    .nam-slide-1{
      overflow-x: auto;
    }
    .weekend {
      overflow-x: auto;
      margin: 0;
    }
    .thu-2{
      width: 100%;
      margin: 0;
      height: auto;
      min-width: 68px;
      margin: 4px;
    }
    .weekend-live {
      padding: 8px 12px;
      display: flex;
      justify-content: center;
    }
    .weekend-icon{
      display: flex;
      justify-content: center;
    }
    .content {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 1fr 6fr 1fr;
      align-items: center;
  }
}
@media screen and (max-width: 480px) {

}